<%- include('../partials/user/header.ejs') %>

<main class="main">
    <section class="pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="row">
                        <%- include('../partials/user/sidebar.ejs') %>
                    </div>
                    <div class="card-body">
                       

                        <% if (order) { %>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% order.items.forEach(item => { %>
                                            <tr>
                                                <td><%= item.name %></td>
                                                <td><%= item.quantity %></td>
                                                <td>$<%= item.price %></td>
                                            </tr>
                                        <% }) %>
                                    </tbody>
                                </table>
                            </div>

                         
                        <% } else { %>
                            <p>No order details available.</p>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


<%- include('../partials/user/footer.ejs') %>
