<%- include('../partials/user/header.ejs') -%>

<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Shop
                <span></span> Wishlist
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table shopping-summery text-center">
                            <thead>
                                <tr class="main-heading">
                                    <th scope="col" colspan="2">Product</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Stock Status</th>
                                    <th scope="col">Action</th>
                                    <th scope="col">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if (wishlist.length > 0) { %>
                                    <% wishlist.forEach(item => { %>
                                        <tr>
                                            <td class="image product-thumbnail">
                                                <img src="/uploads/re-image/<%= item.productId.productImage[0] %>" alt="<%= item.productId.productName %>">
                                            </td>
                                            <td class="product-des product-name">
                                                <h5 class="product-name">
                                                    <a href="/product/<%= item.productId._id %>"><%= item.productId.productName %></a>
                                                </h5>
                                            </td>
                                            <td class="price" data-title="Price">
                                                <span>$<%= item.productId.salePrice %> </span>
                                            </td>
                                            <td class="text-center" data-title="Stock">
                                                <% if (item.productId.quantity > 0) { %>
                                                    <span class="color3 font-weight-bold">In Stock</span>
                                                <% } else { %>
                                                    <span class="text-danger font-weight-bold">Out of stock</span>
                                                <% } %>
                                            </td>
                                            <td class="text-right" data-title="Cart">
                                                <% if (item.productId.quantity > 0) { %>
                                                    <button class="btn btn-sm"><i class="fi-rs-shopping-bag mr-5"></i>Add to cart</button>
                                                <% } else { %>
                                                    <button class="btn btn-sm btn-secondary"><i class="fi-rs-headset mr-5"></i>Contact Us</button>
                                                <% } %>
                                            </td>
                                            <td class="action" data-title="Remove">
                                                <a href="javascript:void(0);" onclick="confirmRemove('<%= item.productId._id %>')">
                                                    <i class="fi-rs-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    <% }) %>
                                <% } else { %>
                                    <tr>
                                        <td colspan="6">Your wishlist is empty.</td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script>
     function confirmRemove(productId) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to undo this action!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, remove it!'
        }).then((result) => {
            if (result.isConfirmed) {
                // Make AJAX request to remove item from wishlist
                fetch(`/removeFromWishlist/${productId}`, {
                    method: 'GET',
                    headers: { 'X-Requested-With': 'XMLHttpRequest' },
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        Swal.fire('Removed!', data.message, 'success').then(() => {
                            // Reload the page to update wishlist or remove item from DOM
                            location.reload();
                        });
                    } else {
                        Swal.fire('Error!', data.message, 'error');
                    }
                })
                .catch(error => {
                    console.error('Error removing product:', error);
                    Swal.fire('Error!', 'Something went wrong while removing the product.', 'error');
                });
            }
        });
    }
</script>


<%- include('../partials/user/footer.ejs') -%>